name: Build and deploy ASP.Net Core app to Azure Web App - app-service-macedo-2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
      
      - name: Restore dependencies
        run: dotnet restore AzureDeployStudy/AzureDeployStudy/AzureDeployStudy.csproj
        
      - name: Build with dotnet
        run: dotnet build AzureDeployStudy/AzureDeployStudy/AzureDeployStudy.csproj --configuration Release
        
      - name: dotnet publish
        run: dotnet publish AzureDeployStudy/AzureDeployStudy/AzureDeployStudy.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_583D5389BD184876958E6DF72946465E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_D1E09C505E844D18A8FD642D5C025B0D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_3C35CECCC1374260BC88DFC545809F22 }}

      # 🆕 PASSO: Executar Migrations do EF Core (ANTES do deploy do app)
      - name: Run .NET EF Migrations
        run: |
          # 1. Instala a ferramenta EF Core (já estava correto)
          dotnet tool install --global dotnet-ef
          
          # 2. Executa o Database Update
          dotnet ef database update `
          --project AzureDeployStudy/AzureDeployStudy/AzureDeployStudy.csproj `
          --startup-project AzureDeployStudy/AzureDeployStudy/AzureDeployStudy.csproj `
          --connection "${{ secrets.CustomerConnectionString }}"
        env:
          ConnectionStrings__DefaultConnection: ${{ secrets.CustomerConnectionString }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-service-macedo-2'
          slot-name: 'Production'
          package: .